@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  font-family: Poppins;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.blogItem,
.home {
  margin: 0 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BlogContainer {
  border: 1px solid #eee;
  max-width: 1200px;
  width: 98%;
  margin: 20px auto;
  padding: 30px;
}

.App-link {
  color: #61dafb;
}

fieldset{
  background-color: #fcfcfc;
  border:1px solid #eee;
  border-radius: 3px;
  margin:20px;
  max-width: 350px;
  padding: 10px;
  width:98%;
}

input[type=password],
input[type=text],
textarea,
select{
  background-color: white;
  border:1px solid#efefef;
  border-radius: 2px;
  -moz-box-shadow:    inset 0 0 3px #eee;
  -webkit-box-shadow: inset 0 0 3px #eee;
  box-shadow:         inset 0 0 3px #eee;
  margin:5px 20px;
  max-width: 250px;
  padding: 10px;
  transition: background-color 1s;
  width:98%;
}

input[type=text]:focus,
textarea:focus{
  background-color: #f7fcff;
  border:2px solid #e8f5fc;
  padding: 9px;
  transition: background-color 1s;

}

legend{
  color:#86BCDA;
  font-size:140%;
}

input, textarea{
  margin:7px;
}

label{
  margin: 20px 0 0 20px;
}


button {
  height: 55px;
  margin: 20px;
  width: 110px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
